#main {
    display: flex;
    flex-direction: column;
    height: 320vh;
    background: linear-gradient(180deg, rgb(23, 23, 23) 0%, rgb(75, 75, 75) 100%);
}
#welcome {
    height: 100vh;
    color: white;
    font-size: xx-large;
    flex-direction: column;
}
.next {
    height: 20vh;
    color:rgb(75, 75, 75);
}
#welcome-text {
    flex-direction: row;
    height: 80vh;
}
#welcome>p {
    cursor:default;
    user-select: none;
}
#blinking-floor {
    color: goldenrod;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: none;
}
#welcome-next>a {
    font-size: medium;
    color:rgb(75, 75, 75);
    scale: 1.0;

    transition: all 0.5s ease;
}
#welcome-next>a:hover {
    color: goldenrod;
    scale: 1.2;
}

section {
    height: 100vh;
}

#contact-text {
    flex-direction: row;
    height: 80vh;
}

#about-text {
    flex-direction: row;
    height: 80vh;
}

#about-next>a {
    font-size: medium;
    color:rgb(75, 75, 75);
    scale: 1.0;

    transition: all 0.5s ease;
}
#about-next>a:hover {
    color: goldenrod;
    scale: 1.2;
}
#contact-top>a {
    font-size: medium;
    color:rgb(23, 23, 23);
    scale: 1.0;

    transition: all 0.5s ease;
}
#contact-top>a:hover {
    color: goldenrod;
    scale: 1.2;
}

.phony-gap {
    height: 10vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.75);
}

footer {
    width: 100vw;
    height: 15vw;
    background-color: rgba(0,0,0, 0.75);
}


@keyframes blink {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
